header{
    background-image: url(./img/homepage.gif);
    width: 100%;
    height: 740px;
    background-size: cover;
}
.agricom-logo{
    width: 100px;
    background-color: #545961;
    padding: 5px;
    padding-top: 70px;
    padding-bottom: 20px;
    margin-left: 100px;
}
.container{
    max-width: 1250px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}
.nav-ul{
    flex-wrap: wrap;
}
.agri-lenguage{
    display: flex;
}
.white{
    color: honeydew;
    display: block;
    background-color: grey;
    opacity: 0.5;
    font-size: 15px;
    height: 25px;
    padding: 5px 0;
}
.menu{
    margin-right: 10px;
    vertical-align: middle;
    font-size: 18px;
    color: honeydew;
}
.menu-search{
    margin-right: 0px;
    vertical-align: middle;
}